body {
    color: rgb(243, 243, 237);
    background-color: #FFCD34;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
h1 {
   background: #ED242D;
   color: rgb(245, 237, 237);
   text-align: center;
   text-transform: Verdana; 
   font-size: 60px;
}
.box1,.box3 {
    background-color: #F37720;
    width: 300px;
    height: 205px;
    margin: 5px 30px;
    display: inline-block;
}
.box2 {
    background-color: #F37720;
    width: 300px;
    height: 245px;
    margin: 10px 0 10px 0;
    display: inline-block;
}
textarea {
    width: 200px;
    height: 150px;
    margin: 10px 0 10px 0;
    background-color: #F8F8F2;
    font-size: 16px;
}
div {
    padding: 50px;            
}
#encode, #decode {
background: #0080a4;
display:inline-block;
font-size:0.75em;
margin:5px;
padding:3px 0px;
text-align:center;
width:70px;
text-decoration:none;
box-shadow:0px 3px 0px #F8F8F2;
}
input {
    padding: 4px;
    margin: 10px 0 10px 0;
    background-color: #F8F8F2;
}
.redSocial {
    width:7%;
    display:inline-block;
    text-transform: Verdana; 
}
#result, #textForEncodeOrDecode {
    display:inline-block;
    width: 300px;
    height: 150px;
    margin: 10px 0px 80px 0px;
    background-color: #F8F8F2;
}
footer {
   text-align: center;
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background-color:rgba(153, 153, 153, 0.548);
   color: rgba(17, 6, 7, 0.644)
}
  
